<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/comment_modal.css" />
    <title>댓글 모달</title>
  </head>
  <body>
    <div class="modal" id="commentModal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div>
          <div class="inquiry-comment-section">
            <div class="inquiry-comment-block">
              <div class="inquiry-comment-content-area">
                <div>
                  <div class="comment-registration-date">
                    <span>등록일자 2024.08.25</span>
                  </div>
                </div>
                <div class="comment-text-area">
                  <div class="comment-text">추가모집 예정은 없나요?</div>
                </div>
              </div>
            </div>
          </div>
          <textarea placeholder="댓글을 입력하세요..."></textarea>
          <button class="submit-btn">댓글 달기</button>
        </div>
      </div>
    </div>
  </body>
</html>
