* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

main {
  padding: 20px;
}

.project-search h1 {
  margin-bottom: 20px;
}

.search-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 60px;
}

.category-list {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border-top: 1px solid lightgray;
  height: 100%;
}

.category-list div {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

.category-list div:hover {
  border-bottom: 2px solid black;
}

.category-list div a {
  text-decoration: none;
  color: #000;
}

.category-list div a:hover {
  font-weight: bolder;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.search input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.array {
  display: flex;
  justify-content: flex-end;
}

.array-list {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.project-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 70%;
  margin-bottom: 4%;
}

.project-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.status {
  background-color: #e0ffe0;
  color: #008000;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  display: inline-block;
}

.project-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.project-head-front {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.post-date {
  color: gray;
}

.project-body {
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 10vh;
  align-items: center;
  margin-bottom: 2%;
}

.project-body-title {
  margin-bottom: 1rem;
}

.project-body-content {
  display: flex;
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}

.circle-box {
  display: flex;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: blue;
  border-radius: 50%;
}

.sidebar {
  height: 5vh;
  border-right: 2px solid lightgray;
}

.project-footer {
  display: flex;
  justify-content: space-between;
}

.button-box {
  display: flex;
  align-items: center;
  width: 17%;
}

.estimated-amount {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.apply {
  padding: 0.5rem 1rem;
  background-color: #4758ee;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
}
