* {
  box-sizing: border-box;
}

.content-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.title {
  display: flex;
  font-size: 30px;
}
.post-info {
  display: flex;
  margin-top: 30px;
}
.post-info div {
  display: flex;
  padding-left: 10px;
}
.main-content {
  display: flex;
  height: 400px;
  width: 100%;
}
.function-line {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.btn {
  width: 100px;
}
