* {
  box-sizing: border-box;
  color: #333;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.header {
  height: 5rem;
  background-color: #4785ee;
}
.title {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.content-box {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  /* box-shadow: 0 3 3 0; */
  border-radius: 5%;
  width: 30%;
  height: auto;
  box-shadow: 2px 2px 5px black;
}
.select-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box-image {
  width: 50%;
  height: 50%;
  border-radius: 5%;
}
.content-box:hover {
  border: 2px solid #6a77e6;
}
