.header {
  /* display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem; */
  position: fixed; /* 헤더를 상단에 고정 */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%; /* 화면 전체 너비 사용 */
  margin: 0 auto;
  padding: 1rem 10%;
  background-color: white; /* 배경색 추가 */
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 상단 그림자 추가 */
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 8rem;
}

.header-menu a {
  text-decoration: none;
  color: gray;
  font-size: 1.45rem;
  font-weight: 700;
  /* padding: 2.8rem 0; */
  position: relative;
}

.header-menu a:hover {
  color: black;
}

.header-menu a::after {
  position: absolute;
  content: "";
  background-color: black;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  transition: width 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-btn {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
