* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

.header-btn {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.border-line {
  border-top: 2px solid rgb(206, 206, 206);
}

.login {
  background-color: #4758ee;
  border-radius: 15px;
  border: none;
  width: 7rem;
  color: white;
  height: 3rem;
  box-shadow: 0px 2px 5px black;
  cursor: pointer;
}

.sign-up {
  border-radius: 15px;
  border: none;
  width: 7rem;
  height: 3rem;
  background-color: white;
  box-shadow: 0px 2px 5px black;
  cursor: pointer;
}

.login:hover {
  background-color: #263aed;
}

.sign-up:hover {
  background-color: rgb(236, 236, 234);
}

.reg {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  margin: 0 auto;
  padding: 15rem 0;

  align-items: center;
}

.reg-title-ment {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}

.reg-small-ment {
  color: gray;
  padding: 1rem;
}

.reg-btn {
  background-color: #4758ee;
  border-radius: 15px;
  border: 1px solid #4758ee;
  width: 15rem;
  color: white;
  height: 4rem;
  box-shadow: 2px 2px 5px rgb(42, 55, 228);
  cursor: pointer;
  font-size: 1rem;
}

.reg-btn:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s;
}

.reg-btn-area {
  padding: 1rem;
}

.reg-btn:hover {
  background-color: #263aed;
}

.second-section {
  background-color: #d9dae4;
  height: 100vh;
  text-align: center;
}

.second-section-title {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  color: #505050;
}

.second-section-box {
  padding-top: 3rem;
}

.cards {
  padding: 8rem 0;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  justify-content: space-between;
}

.card-img {
  border-radius: 15px;
  height: 80%;
}

.card {
  height: 100%;
  background-color: #bad4fc;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 4px 4px 4px #9fc0f1;
  overflow: hidden;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(176, 179, 209, 0.9);
  transform: scaleY(2);
  opacity: 0;
}

.card:hover::after {
  transform: scale(1);
  transition: all 0.3s ease;
  opacity: 1;
}

.card-text {
  padding: 1.5rem;
}

.card:hover .card-caption {
  /* transform: scale(1.1, 1.1);
  transition: transform 0.3s; */
  cursor: text;
  opacity: 1;
  z-index: 1;
}

.card-caption {
  opacity: 0;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 800;
  line-height: 2.5rem;
  font-size: 1.3rem;
}
.third-section {
  height: 100vh;
  background-color: #b2bbff;
}

.third-section-title {
  font-size: 3rem;
  font-weight: bold;
  padding: 5rem;
  color: #505050;
}

.third-section-box {
  width: 80%;
  margin: 0 auto;
}

.third-section-cards {
  padding: 5rem 0;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.third-section-card {
  width: 17rem;
  height: 20rem;
  border-radius: 15px;
  background-color: #e1e3f6;
  text-align: center;
  box-shadow: 4px 4px 4px #949ce6;
}

.third-section-card-header {
  height: 55%;
  padding: 3rem;
}

.third-section-card-body {
  height: 45%;
  line-height: 1.7rem;
  font-weight: 500;
}

.third-section-card-header-title1 {
  font-size: 1.7rem;
  font-weight: bold;
}

.third-section-card-header-title2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.third-section-card-header-title3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.third-section-card:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s;
  cursor: text;
}

.fourth-section {
  height: 100vh;
}

.fourth-section-container {
  width: 90%;
  margin: 0 auto;
}

.fourth-section-title {
  font-size: 3rem;
  font-weight: bold;
  padding: 5rem;
  color: #505050;
}

.fourth-section-box {
  width: 70%;
  margin: 0 auto;
}

.fourth-section-text {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
}

.fourth-section-text::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: black;
  transition: width 0.3s;
}

.fourth-section-text:hover {
  cursor: pointer;
}

.fourth-section-text:hover::after {
  width: 100%;
}

.fourth-section-box1 {
  border: 0.5px solid rgb(174, 172, 172);
  padding: 2rem 3rem 2rem 4rem;
  box-shadow: 2px 2px 2px rgb(206, 202, 202);
}

.fourth-section-box2 {
  padding: 1.5rem;
}

.fourth-section-box-qna {
  text-decoration: none;
  color: #4758ee;
  font-weight: 800;
  font-size: 1.2rem;
}

.fourth-section-box-qna:hover {
  color: #1a2ff1;
}

.fourth-section-box-qna-area {
  padding: 2rem 0;
  float: right;
}

.fourth-section-box-qna-area:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.3s;
}

.fifth-section {
  height: 100vh;
  position: relative;
}

.fifth-section-container {
  display: flex;
  padding: 15rem 0 0 0;
  margin: 0 auto;
  justify-content: center;
  gap: 7rem;
}

.fifth-section-title {
  font-size: 3rem;
  align-items: center;

  font-weight: 800;
}

.fifth-section-btn {
  background-color: #4758ee;
  border-radius: 15px;
  border: none;
  width: 18rem;
  color: white;
  height: 5rem;
  box-shadow: 2px 2px 5px rgb(42, 55, 228);
  cursor: pointer;
  font-size: 1rem;
}

.fifth-section-btn-area {
  display: flex;
  align-items: center;
}

.fifth-section-btn:hover {
  transform: scale(1.1, 1.1);
  background-color: #263aed;
  transition: transform 0.3s;
}

.pageup-btn {
  float: right;
  /* border: 1px solid rgb(231, 229, 229); */
  border-radius: 30rem;
  box-shadow: 2px 2px 2px 2px rgb(186, 186, 186);
  cursor: pointer;
  position: sticky;
  top: 20rem;
}

.pageup-btn-area {
  padding: 5rem;
  width: 97%;
}

.footer {
  background-color: #4758ee;
  height: 17rem;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  display: flex;
  color: white;
}

.footer-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-center {
  display: flex;
  gap: 10rem;
}

.footer-center-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-center-box a {
  text-decoration: none;
  color: white;
}

.footer-center-box a:hover {
  text-decoration: underline;
}

.footer-side-text {
  padding: 0.7rem;
}

.footer-side {
  /* padding-top: 1rem; */
  display: flex;
  align-items: center;
}

.footer-center-box-title {
  padding-bottom: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 30rem;
  /* border: 1px solid black; */
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2rem;
  z-index: 100;
  display: none;
}

.login-modal-img-area {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.login-modal-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

input {
  background-color: white;
  text-align: center;
  border: 1px solid #999797;
  border-radius: 5px;
}
.signin_box {
  text-align: center;
  border-radius: 5px;
  /* box-shadow: 5px 5px 10px 2px rgb(190, 189, 189); */
  max-width: 500px;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
}
.same_box {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  height: 100%;
}
.same_box > input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px gray;
}
.same_box > button {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  /* box-shadow: 0px 1px 5px gray; */
}
.signin_button:hover {
  background-color: #263aed;
}
.signin_button {
  background-color: #4758ee;
  color: white;
  font-size: 1rem;
}
.account-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.account-menu-text:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
  font-weight: 800;
}

.login-modal-btns {
  width: 80%;
  margin: 0 auto;
}

.modal-close-btn {
  position: absolute;
  right: 7%;
  cursor: pointer;
  font-size: 1.5rem;
}
