.project-card {
  width: 70%;
  margin-bottom: 4%;
}

.project-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.status {
  background-color: #e0ffe0;
  color: #008000;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  display: inline-block;
}

.project-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.project-head-front {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.post-date {
  color: gray;
}

.project-body {
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 10vh;
  align-items: center;
  margin-bottom: 2%;
}

.project-body-title {
  margin-bottom: 1rem;
}

.project-body-content {
  display: flex;
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}

.circle-box {
  display: flex;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: blue;
  border-radius: 50%;
}

.sidebar {
  height: 5vh;
  border-right: 2px solid lightgray;
}

.project-footer {
  display: flex;
  justify-content: space-between;
}

.button-box {
  display: flex;
  align-items: center;
  width: 17%;
}

.estimated-amount {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.half-sidebar {
  height: 2vh;
  border-right: 2px solid lightgray;
}

.apply {
  padding: 0.5rem 1rem;
  background-color: #4758ee;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
}

@media (max-width: 1300px) {
  .project-head-front {
    width: 50%;
  }

  .status {
    font-size: 1rem;
  }
}

.bold {
  font-size: 1rem;
}

.estimated-amount {
  font-size: 1rem;
}

.apply {
  font-size: 1rem;
}

.project-body-box {
  font-size: 0.8rem;
}

@media (max-width: 1024px) {
  .option {
    font-size: 0.7rem;
  }

  input::placeholder {
    font-size: 0.8rem;
  }

  .project-body-box {
    font-size: 0.6rem;
  }

  .circle {
    width: 0.3rem;
    height: 0.3rem;
  }

  .estimated-amount {
    font-size: 0.6rem;
  }

  .sidebar {
    height: 3vh;
  }

  .half-sidebar {
    height: 1vh;
  }

  .bold {
    font-size: 0.8rem;
  }

  .project-head-front > h2 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .search-menu {
    flex-direction: column;
  }

  .project-category {
    display: flex;
  }

  .option {
    font-size: 0.4rem;
  }

  .level-category {
    margin-left: 0;
    font-size: 0.2rem;
  }

  .project-body-box {
    font-size: 0.3rem;
  }

  .circle {
    width: 0.1rem;
    height: 0.1rem;
  }

  .estimated-amount {
    font-size: 0.3rem;
  }

  .sidebar {
    height: 1vh;
  }

  .half-sidebar {
    height: 0.5vh;
  }

  .bold {
    font-size: 0.4rem;
  }

  .project-head-front > h2 {
    font-size: 0.5rem;
  }

  input::placeholder {
    font-size: 0.2rem;
  }
}
