* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
input {
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}
.header {
  height: 5rem;
  background-color: #4758ee;
}
.signupbox {
  border: 1px solid #ccc;
  border-radius: 2rem;
  width: 30%;
  margin: 3rem auto;
  padding: 2rem;
}
.red-word {
  color: red;
}
.text-box {
  width: 100%;
  padding: 0.5rem;
}
p {
  margin: 0;
}

.text-box > input {
  width: 100%;
}
.com_addr {
  width: 100%;
  padding: 0.5rem;
}
.com_div {
  width: 100%;
  padding-bottom: 0.3rem;
}
.com_div > button {
  padding: 0.3rem;
}
.btn-box {
  padding: 0.5rem;
  width: 100%;
}
.btn-box > div {
  display: flex;
  width: 100%;
  gap: 10px;
}
.btn-box > div > input {
  width: 100%;
}
.btn-box > div > button {
  width: 50%;
}
.check_box {
  width: 100%;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
}
.check_box > div {
  display: flex;
}
.signupbtn {
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  background-color: #4758ee;
  border-radius: 0.5rem;
  color: white;
}

.level-category {
  padding: 0.4rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  width: 68%;
}
.search-input {
  width: 100%;
  padding: 0.45rem;
  border: solid 1px #dde2e4;
  background-color: #fff;
  outline: none;
}
.select_box {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.3rem;
  justify-content: space-between;
  gap: 0.3rem;
}
