<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기업 마이페이지</title>
    <link rel="stylesheet" type="text/css" href="../style/MyPage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div>
        <a href=""><img src="../image/teamLogo.svg" alt="logo" /></a>
      </div>
      <div class="header-menu">
        <a href="">프로젝트 등록</a>
        <a href="">프로젝트 찾기</a>
        <a href="">공지사항 및 문의 게시판</a>
      </div>
      <div class="header-btn">
        <div>
          <a href=""><img src="../image/Bell.svg" alt="" /></a>
        </div>
        <div>
          <a href=""><img src="../image/User.svg" alt="" /></a>
        </div>
      </div>
    </div>
    <div class="border-line"></div>
    <section class="profile">
      <div class="profile-box">
        <div class="img">
          <img src="../image/profile.svg" alt="profile-img" />
        </div>
        <div class="information">
          <div class="name"><h2>회사이름</h2></div>
          <div class="star">
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i>
          </div>
          <div class="category">IT > 앱개발</div>
          <div class="homepage-button">
            <div class="homepage"><a href="">www.ktdsuniversity.com</a></div>
            <div class="button-box">
              <button class="edit-button">수정</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main>
      <div class="main-box">
        <section class="sidebar">
          <div class="sidebar-menulist">
            <div class="sidebar-menu">내 프로필</div>
            <div class="sidebar-menu">보유 기술</div>
            <div class="sidebar-menu">경력 사항</div>
            <div class="sidebar-menu">회사 첨부자료</div>
            <div class="sidebar-menu">리뷰</div>
            <div class="sidebar-menu">내 프로젝트</div>
          </div>
        </section>
        <section class="myPageList">
          <div class="myPageList-box">
            <div class="introduction">
              회사 소개
              <div class="introduction-content"></div>
            </div>
            <div class="holding-technology">
              보유 기술
              <div class="holding-technology-list">
                <div class="tech">JAVA</div>
                <div class="tech">HTML</div>
                <div class="tech">CSS</div>
                <div class="tech">Javascript</div>
              </div>
            </div>
            <div class="introduction">
              경력 사항
              <div class="introduction-content"></div>
            </div>
            <div class="attachment">
              회사 첨부자료 <span>더 보기</span>
              <div class="attachment-list">
                <div class="attachment-box"></div>
                <div class="attachment-box"></div>
                <div class="attachment-box"></div>
              </div>
            </div>
            <div class="review-list">
              <div class="review-title">
                <div class="review-tag">리뷰</div>
                <div class="arrangement-selection">
                  최신순 / 평점 높은순 / 평점 낮은순
                </div>
              </div>
              <div class="review">
                <div class="review-image">
                  <img src="../image/Generic avatar.png" alt="profile-img" />
                </div>
                <div class="review-id">아이디</div>
                <div class="review-content">리뷰 내용</div>
                <div class="star-date">
                  <div class="star">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i>
                  </div>
                  <div class="date">2024-09-09</div>
                </div>
                <div class="report-button">
                  <button class="report">신고</button>
                </div>
              </div>
              <div class="review">
                <div class="review-image">
                  <img src="../image/Generic avatar.png" alt="profile-img" />
                </div>
                <div class="review-id">아이디</div>
                <div class="review-content">리뷰 내용</div>
                <div class="star-date">
                  <div class="star">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i>
                  </div>
                  <div class="date">2024-09-09</div>
                </div>
                <div class="report-button">
                  <button class="report">신고</button>
                </div>
              </div>
              <div class="review">
                <div class="review-image">
                  <img src="../image/Generic avatar.png" alt="profile-img" />
                </div>
                <div class="review-id">아이디</div>
                <div class="review-content">리뷰 내용</div>
                <div class="star-date">
                  <div class="star">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i>
                  </div>
                  <div class="date">2024-09-09</div>
                </div>
                <div class="report-button">
                  <button class="report">신고</button>
                </div>
              </div>
              <div class="review">
                <div class="review-image">
                  <img src="../image/Generic avatar.png" alt="profile-img" />
                </div>
                <div class="review-id">아이디</div>
                <div class="review-content">리뷰 내용</div>
                <div class="star-date">
                  <div class="star">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i><i class="fas fa-star"></i
                    ><i class="fas fa-star"></i>
                  </div>
                  <div class="date">2024-09-09</div>
                </div>
                <div class="report-button">
                  <button class="report">신고</button>
                </div>
              </div>
              <div class="more-button">
                <button>더 보기-></button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
