<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>평점 시스템</title>
    <link rel="stylesheet" type="text/css" href="../style/commentmodal.css" />
  </head>
  <body>
    <div class="content-box">
      <div class="rating">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
      </div>
      <div class="detail-dox">
        <div class="import-space"></div>
        <input class="comment-space" />
      </div>
    </div>
  </body>
</html>
