<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="../style/login.css" />
    <link rel="stylesheet" href="../style/header.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a href=""><img src="../image/teamLogo.svg" alt="logo" /></a>
      </div>
      <div class="header-menu">
        <a href="">프로젝트 등록</a>
        <a href="">프로젝트 찾기</a>
        <a href="">공지사항 및 문의 게시판</a>
      </div>
      <div class="header-btn">
        <div>
          <a href=""><img src="../image/Bell.svg" alt="" /></a>
        </div>
        <div>
          <a href=""><img src="../image/User.svg" alt="" /></a>
        </div>
      </div>
    </div>
    <img src="" alt="" />
    <div class="signin_box">
      <div class="same_box">
        <input type="text" placeholder="이메일을 입력하세요" />
      </div>
      <div class="same_box">
        <input type="password" placeholder="비밀번호를 입력하세요" />
      </div>
      <div class="same_box"><button class="signin_button">로그인</button></div>
      <div class="same_box"><button>Sign up with Google</button></div>
      <ul class="account_menu">
        <li>아이디 찾기</li>
        <li>/</li>
        <li>비밀번호 찾기</li>
        <li>/</li>
        <li>회원가입</li>
      </ul>
    </div>
  </body>
</html>
