<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지 로그인 후</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../style/main_after_login.css"
    />
    <link rel="stylesheet" href="../style/header.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a href=""><img src="../image/teamLogo.svg" alt="logo" /></a>
      </div>
      <div class="header-menu">
        <a href="">프로젝트 등록</a>
        <a href="">프로젝트 찾기</a>
        <a href="">공지사항 및 문의 게시판</a>
      </div>
      <div class="header-btn">
        <div>
          <a href=""><img src="../image/Bell.svg" alt="" /></a>
        </div>
        <div>
          <a href=""><img src="../image/User.svg" alt="" /></a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="first-section">
        <div class="reg">
          <div class="reg-ment">
            <p class="reg-title-ment">프로젝트 등록하기</p>
            <h4 class="reg-small-ment">
              지금 프로젝트를 등록해서 나에게 필요한 전문가를 찾아보세요.
            </h4>
            <div class="reg-btn-area">
              <button class="reg-btn">프로젝트 등록하기</button>
            </div>
          </div>
          <div><img src="../image/Illustration.svg" alt="" /></div>
        </div>
      </div>
    </div>
    <section class="interested-industry">
      <div class="title">관심 산업분야</div>
      <div class="project-card-list">
        <div class="project-card">
          <div class="project-box">
            <div class="project-head">
              <div class="project-head-front">
                <div class="status">모집중</div>
                <h2>HTML/Java 매뉴얼 관련 작업</h2>
              </div>
              <div class="post-date">등록일자 2024.08.25</div>
            </div>
            <div class="project-body">
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 분야</div>
                <div class="project-body-content bold">
                  IT·프로그래밍 / 웹사이트·모바일앱 개발
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">관련기술</div>
                <div class="project-body-content">
                  <div class="circle-box">
                    <div class="circle"></div>
                  </div>
                  <div class="language">Java, HTML5</div>
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">모집 마감일</div>
                <div class="project-body-content">2024년 8월 27일</div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 일정</div>
                <div class="project-body-content">
                  2024년 9월 1일 ~ 2024년 9월 31일
                </div>
              </div>
            </div>
            <div class="project-footer">
              <div class="button-box">
                <button class="apply">신청하기</button>
              </div>
              <div class="estimated-amount">
                <div>예상 금액</div>
                <div class="half-sidebar"></div>
                <div class="bold">10,000,000 원</div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-card">
          <div class="project-box">
            <div class="project-head">
              <div class="project-head-front">
                <div class="status">모집중</div>
                <h2>HTML/Java 매뉴얼 관련 작업</h2>
              </div>
              <div class="post-date">등록일자 2024.08.25</div>
            </div>
            <div class="project-body">
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 분야</div>
                <div class="project-body-content bold">
                  IT·프로그래밍 / 웹사이트·모바일앱 개발
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">관련기술</div>
                <div class="project-body-content">
                  <div class="circle-box">
                    <div class="circle"></div>
                  </div>
                  <div class="language">Java, HTML5</div>
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">모집 마감일</div>
                <div class="project-body-content">2024년 8월 27일</div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 일정</div>
                <div class="project-body-content">
                  2024년 9월 1일 ~ 2024년 9월 31일
                </div>
              </div>
            </div>
            <div class="project-footer">
              <div class="button-box">
                <button class="apply">신청하기</button>
              </div>
              <div class="estimated-amount">
                <div>예상 금액</div>
                <div class="half-sidebar"></div>
                <div class="bold">10,000,000 원</div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-card">
          <div class="project-box">
            <div class="project-head">
              <div class="project-head-front">
                <div class="status">모집중</div>
                <h2>HTML/Java 매뉴얼 관련 작업</h2>
              </div>
              <div class="post-date">등록일자 2024.08.25</div>
            </div>
            <div class="project-body">
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 분야</div>
                <div class="project-body-content bold">
                  IT·프로그래밍 / 웹사이트·모바일앱 개발
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">관련기술</div>
                <div class="project-body-content">
                  <div class="circle-box">
                    <div class="circle"></div>
                  </div>
                  <div class="language">Java, HTML5</div>
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">모집 마감일</div>
                <div class="project-body-content">2024년 8월 27일</div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 일정</div>
                <div class="project-body-content">
                  2024년 9월 1일 ~ 2024년 9월 31일
                </div>
              </div>
            </div>
            <div class="project-footer">
              <div class="button-box">
                <button class="apply">신청하기</button>
              </div>
              <div class="estimated-amount">
                <div>예상 금액</div>
                <div class="half-sidebar"></div>
                <div class="bold">10,000,000 원</div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-card">
          <div class="project-box">
            <div class="project-head">
              <div class="project-head-front">
                <div class="status">모집중</div>
                <h2>HTML/Java 매뉴얼 관련 작업</h2>
              </div>
              <div class="post-date">등록일자 2024.08.25</div>
            </div>
            <div class="project-body">
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 분야</div>
                <div class="project-body-content bold">
                  IT·프로그래밍 / 웹사이트·모바일앱 개발
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">관련기술</div>
                <div class="project-body-content">
                  <div class="circle-box">
                    <div class="circle"></div>
                  </div>
                  <div class="language">Java, HTML5</div>
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">모집 마감일</div>
                <div class="project-body-content">2024년 8월 27일</div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 일정</div>
                <div class="project-body-content">
                  2024년 9월 1일 ~ 2024년 9월 31일
                </div>
              </div>
            </div>
            <div class="project-footer">
              <div class="button-box">
                <button class="apply">신청하기</button>
              </div>
              <div class="estimated-amount">
                <div>예상 금액</div>
                <div class="half-sidebar"></div>
                <div class="bold">10,000,000 원</div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-card">
          <div class="project-box">
            <div class="project-head">
              <div class="project-head-front">
                <div class="status">모집중</div>
                <h2>HTML/Java 매뉴얼 관련 작업</h2>
              </div>
              <div class="post-date">등록일자 2024.08.25</div>
            </div>
            <div class="project-body">
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 분야</div>
                <div class="project-body-content bold">
                  IT·프로그래밍 / 웹사이트·모바일앱 개발
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">관련기술</div>
                <div class="project-body-content">
                  <div class="circle-box">
                    <div class="circle"></div>
                  </div>
                  <div class="language">Java, HTML5</div>
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">모집 마감일</div>
                <div class="project-body-content">2024년 8월 27일</div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 일정</div>
                <div class="project-body-content">
                  2024년 9월 1일 ~ 2024년 9월 31일
                </div>
              </div>
            </div>
            <div class="project-footer">
              <div class="button-box">
                <button class="apply">신청하기</button>
              </div>
              <div class="estimated-amount">
                <div>예상 금액</div>
                <div class="half-sidebar"></div>
                <div class="bold">10,000,000 원</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
