<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />

    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../style/payment_page.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a href=""><img src="../teamLogo.svg" alt="logo" /></a>
      </div>
      <div class="header-menu">
        <a href="">프로젝트 등록</a>
        <a href="">프로젝트 찾기</a>
        <a href="">공지사항 및 문의 게시판</a>
      </div>
      <div class="header-btn">
        <div>
          <a href=""><img src="./Bell.svg" alt="" /></a>
        </div>
        <div>
          <a href=""><img src="./User.svg" alt="" /></a>
        </div>
      </div>
    </div>
    <div class="border-line"></div>
    <div class="project-card">
      <div class="project-box">
        <div class="project-head">
          <div class="project-head-front">
            <div class="status">모집중</div>
            <h2>HTML/Java 매뉴얼 관련 작업</h2>
          </div>
          <div class="post-date">등록일자 2024.08.25</div>
        </div>
        <div class="project-body">
          <div class="project-body-box">
            <div class="project-body-title">프로젝트 분야</div>
            <div class="project-body-content bold">
              IT·프로그래밍 / 웹사이트·모바일앱 개발
            </div>
          </div>
          <div class="project-body-box">
            <div class="project-body-title">관련기술</div>
            <div class="project-body-content">
              <div class="circle-box">
                <div class="circle"></div>
              </div>
              <div class="language">Java, HTML5</div>
            </div>
          </div>
          <div class="project-body-box">
            <div class="project-body-title">모집 마감일</div>
            <div class="project-body-content">2024년 8월 27일</div>
          </div>
          <div class="project-body-box">
            <div class="project-body-title">프로젝트 일정</div>
            <div class="project-body-content">
              2024년 9월 1일 ~ 2024년 9월 31일
            </div>
          </div>
        </div>
      </div>
      <div class="payment-box">
        <div class="payment-text">
          <div class="payment-box-word1">보증금</div>
          <div class="payment-box-word2">10,000,000원</div>
        </div>

        <button class="payment-box-btn">납부하기</button>
      </div>
    </div>
  </body>
</html>
