<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>통합게시판</title>
    <link rel="stylesheet" type="text/css" href="./postboard.css" />
  </head>
  <body>
    <div class="content-box">
      <div>헤더</div>
      <hr />
      <div class="title">통합게시판</div>
      <div class="function-line">
        <input type="button" value="글쓰기" />
      </div>
      <div class="post-list-box">
        <div class="subject-line">
          <div>종류</div>
          <div>제목</div>
          <div>작성자</div>
          <div>작성일</div>
          <div>수정일</div>
          <div>조회수</div>
        </div>
        <div class="post-line">
          <div>공지</div>
          <div>통합게시판이용안내</div>
          <div>관리자</div>
          <div>24.09.11</div>
          <div>24.09.24</div>
          <div>30</div>
        </div>
        <div class="post-line">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="post-line">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="page-line">
        <input type="button" value="<<" />
        <input type="button" value="<" />
        <input type="button" value="1" />
        <input type="button" value="2" />
        <input type="button" value="3" />
        <input type="button" value="4" />
        <input type="button" value="5" />
        <input type="button" value=">" />
        <input type="button" value=">>" />
      </div>
    </div>
  </body>
</html>
