<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/header.css" />
    <link rel="stylesheet" href="../style/project_inquiry.css" />
    <link rel="stylesheet" href="../style/project_inquiry_card.css" />
    <title>BizMatch - 프로젝트 문의</title>
  </head>
  <body>
    <div class="header">
      <div>
        <a href=""><img src="../image/teamLogo.svg" alt="logo" /></a>
      </div>
      <div class="header-menu">
        <a href="">프로젝트 등록</a>
        <a href="">프로젝트 찾기</a>
        <a href="">공지사항 및 문의 게시판</a>
      </div>
      <div class="header-btn">
        <div>
          <a href=""><img src="../image/Bell.svg" alt="" /></a>
        </div>
        <div>
          <a href=""><img src="../image/User.svg" alt="" /></a>
        </div>
      </div>
    </div>
    <div class="project-inquiry-page">
      <div class="project-inquiry-area">
        <div class="project-card">
          <div class="project-box">
            <div class="project-head">
              <div class="project-head-front">
                <!-- <div class="status">모집중</div> -->
                <h2>HTML/Java 매뉴얼 관련 작업</h2>
              </div>
              <div class="post-date">등록일자 2024.08.25</div>
            </div>
            <div class="project-body">
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 분야</div>
                <div class="project-body-content bold">
                  IT·프로그래밍 / 웹사이트·모바일앱 개발
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">관련기술</div>
                <div class="project-body-content">
                  <div class="circle-box">
                    <div class="circle"></div>
                  </div>
                  <div class="language">Java, HTML5</div>
                </div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">모집 마감일</div>
                <div class="project-body-content">2024년 8월 27일</div>
              </div>
              <div class="sidebar"></div>
              <div class="project-body-box">
                <div class="project-body-title">프로젝트 일정</div>
                <div class="project-body-content">
                  2024년 9월 1일 ~ 2024년 9월 31일
                </div>
              </div>
            </div>
            <div class="estimated-amount">
              <div>예상 금액</div>
              <div class="half-sidebar"></div>
              <div class="bold">10,000,000 원</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 문의 댓글 영역 -->
    <div class="inquiry-comment-area">
      <div class="inquiry-comment-section">
        <div class="inquiry-comment-block">
          <div class="inquiry-comment-content-area">
            <div>
              <div class="comment-registration-date">
                <span>등록일자 2024.08.25</span>
              </div>
              <div class="comment-registration-btn-area">
                <button>
                  <span> 답변 달기 </span>
                </button>
              </div>
            </div>
            <div class="comment-text-area">
              <div class="comment-text">추가모집 예정은 없나요?</div>
            </div>
          </div>
        </div>
        <div class="inquiry-comment-block">
          <div class="inquiry-comment-content-area">
            <div>
              <div class="comment-registration-date">
                <span>등록일자 2024.08.25</span>
              </div>
              <div class="comment-registration-btn-area">
                <button>
                  <span> 답변 달기 </span>
                </button>
              </div>
            </div>
            <div class="comment-text-area">
              <div class="comment-text">추가모집 예정은 없나요?</div>
            </div>
          </div>
        </div>
        <div class="inquiry-comment-block">
          <div class="inquiry-comment-content-area">
            <div>
              <div class="comment-registration-date">
                <span>등록일자 2024.08.25</span>
              </div>
              <div class="comment-registration-btn-area">
                <button>
                  <span> 답변 달기 </span>
                </button>
              </div>
            </div>
            <div class="comment-text-area">
              <div class="comment-text">추가모집 예정은 없나요?</div>
            </div>
          </div>
        </div>
        <div class="inquiry-comment-block">
          <div class="inquiry-comment-content-area">
            <div>
              <div class="comment-registration-date">
                <span>등록일자 2024.08.25</span>
              </div>
              <div class="comment-registration-btn-area">
                <button>
                  <span> 답변 달기 </span>
                </button>
              </div>
            </div>
            <div class="comment-text-area">
              <div class="comment-text">추가모집 예정은 없나요?</div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-navigation">
        <div class="page-navigation-num-area">
          <button>Previous</button>
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>...</span>
          <span>8</span>
          <span>9</span>
          <button>Next</button>
        </div>
      </div>
    </div>
  </body>
</html>
