<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/header.css" />
    <title>BizMatch - 프로젝트 문의</title>
  </head>
  <body>
    <div class="header">
      <div>
        <a href=""><img src="../image/teamLogo.svg" alt="logo" /></a>
      </div>
      <div class="header-menu">
        <a href="">프로젝트 등록</a>
        <a href="">프로젝트 찾기</a>
        <a href="">공지사항 및 문의 게시판</a>
      </div>
      <div class="header-btn">
        <div>
          <a href=""><img src="../image/Bell.svg" alt="" /></a>
        </div>
        <div>
          <a href=""><img src="../image/User.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </body>
</html>
