<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 유형 선택</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../style/select_member_type.css"
    />
  </head>
  <body>
    <div class="header"></div>
    <div class="title">
      <h1>회원 유형을 선택해주세요</h1>
    </div>
    <div class="select-type">
      <div class="content-box">
        <img
          src="../image/Company-amico 1.png"
          alt="기업 사진"
          class="box-image"
        />
        <h2>기업형</h2>
        <p>사업자 등록증이 있는 경우</p>
      </div>
      <div class="content-box">
        <img
          src="../image/Personal finance-rafiki 1.png"
          alt="프리랜서 사진"
          class="box-image"
        />
        <h2>개인형</h2>
        <p>사업자 등록증이 없는 경우</p>
      </div>
    </div>
  </body>
</html>
