<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>review</title>
    <link rel="stylesheet" type="text/css" href="../style/review.css" />
  </head>
  <body>
    <div class="star-image">
      <img src="../Group 39940.png" alt="리뷰" class="star-image1" />
    </div>

    <div class="review-box">
      <div class="project-card">
        <div class="project-box">
          <div class="project-head">
            <div class="project-head-front">
              <div class="status">완료</div>
              <h2>HTML/Java 매뉴얼 관련 작업</h2>
            </div>
            <div class="post-date">등록일자 2024.08.25</div>
          </div>
          <div class="project-body">
            <div class="project-body-box">
              <div class="project-body-title">프로젝트 분야</div>
              <div class="project-body-content bold">
                IT·프로그래밍 / 웹사이트·모바일앱 개발
              </div>
            </div>
            <div class="sidebar"></div>
            <div class="project-body-box">
              <div class="project-body-title">관련기술</div>
              <div class="project-body-content">
                <div class="circle-box">
                  <div class="circle"></div>
                </div>
                <div class="language">Java, HTML5</div>
              </div>
            </div>
            <div class="sidebar"></div>
            <div class="project-body-box">
              <div class="project-body-title">모집 마감일</div>
              <div class="project-body-content">2024년 8월 27일</div>
            </div>
            <div class="sidebar"></div>
            <div class="project-body-box">
              <div class="project-body-title">프로젝트 일정</div>
              <div class="project-body-content">
                2024년 9월 1일 ~ 2024년 9월 31일
              </div>
            </div>
          </div>
        </div>
        <div class="review-background">
          <input type="text" placeholder="리뷰 내용을 입력해주세요." />
        </div>
      </div>
    </div>
  </body>
</html>
